Flow1.json
[{"id":"253ddbdc.20f404","type":"tab","label":"Flow 1"},{"id":"cd5b85f1.0e8b88","type":"ui_gauge","z":"253ddbdc.20f404","name":"","group":"fe0c608e.79894","order":1,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":80,"wires":[]},{"id":"a88f42de.d4ad1","type":"ui_button","z":"253ddbdc.20f404","name":"TestButton","group":"fe0c608e.79894","order":3,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"R","payloadType":"str","topic":"","x":110,"y":160,"wires":[["c5c26e76.fe007"]]},{"id":"9b784a8d.0de1e8","type":"debug","z":"253ddbdc.20f404","name":"","active":true,"console":"false","complete":"false","x":430,"y":200,"wires":[]},{"id":"e25e7fa7.b8ab4","type":"inject","z":"253ddbdc.20f404","name":"","topic":"","payload":"T","payloadType":"str","repeat":"1","crontab":"","once":false,"x":110,"y":80,"wires":[["c5c26e76.fe007"]]},{"id":"c5c26e76.fe007","type":"function","z":"253ddbdc.20f404","name":"Counter","func":"var count = context.get('count')||0;\nif(msg.payload==='R'){\n    count = parseInt(Math.random() * 4000 + 200);\n}\ncount+=1;\nif(count>5000) count=0;\ncontext.set('count',count);\nmsg.payload=count;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["9b784a8d.0de1e8","d80899fb.a56998","cd5b85f1.0e8b88"]]},{"id":"d80899fb.a56998","type":"ui_segmentdisplay","z":"253ddbdc.20f404","name":"DispName","group":"fe0c608e.79894","order":2,"width":0,"height":0,"label":"DisplayTest","format":"{{value}}","x":430,"y":120,"wires":[]},{"id":"fe0c608e.79894","type":"ui_group","z":"","name":"Energie","tab":"31b3a91c.94b316","order":2,"disp":true,"width":"6"},{"id":"31b3a91c.94b316","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]